In [3]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv("wordtime.csv")
df.head(5)

,word,null,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,total
0,NaN,253,144084,137065,132363,119723,108377,100686,98176,90817,95096,76139,33,1102812
1,new,0,28739,28613,27600,26451,25005,25104,23600,22625,22823,20336,8,250904
2,state,0,18505,19903,18857,17704,18057,18383,17695,17104,16332,14220,5,176765
3,man,0,13712,14042,13892,13767,13332,15591,14937,14826,14883,13199,1,142182
4,city,0,16775,15583,14902,14246,15357,14575,13110,12229,10914,9443,4,137138

In [26]:
df['sr'] = df.iloc[:, 1:-2].values.tolist()

In [27]:
df['autocorr']=df['sr'].apply(lambda x: pd.Series(x).autocorr(lag=1))

In [28]:
df1=df.drop('sr', axis=1)

In [29]:
# df2=df1.drop(df1[(df1.autocorr > 0.5) & (df1.autocorr < -0.5)].index, axis=1)
df2=df1.query("autocorr >= 0.9")

In [30]:
df2

,word,null,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,total,autocorr
308,tucson,0,514,767,676,772,1585,1915,3018,3200,3338,3066,0,18851,0.942854
534,austin,0,640,719,773,1344,1527,1550,1763,1648,1702,1658,0,13324,0.922809
1771,nm,0,53,172,106,245,610,627,701,648,678,665,0,4505,0.904625
1973,nc,0,72,92,106,173,423,326,440,657,883,800,0,3972,0.912784
2113,hornets,0,67,58,89,63,337,518,548,692,763,572,0,3707,0.904260
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121247,shuger,0,0,0,0,0,0,0,0,0,1,3,0,4,0.945611
121312,sprayregen,0,0,0,0,0,0,0,0,0,1,3,0,4,0.945611
121345,mapfre,0,0,0,0,0,0,0,0,0,1,3,0,4,0.945611
121705,petrosemolo,0,0,0,0,0,0,0,0,0,1,3,0,4,0.945611
122164,fiza,0,0,0,0,0,0,0,0,0,1,3,0,4,0.945611